html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #CCCECD;
}
.page-wrapper{
    background-color:#CCCECD;
    width: 85%;
    margin: 0 auto;
}

@media only screen and (min-width: 800px){
    .page-wrapper{
        background-color:#CCCECD;
        width: 70%;
        margin: 0 auto;
    }    
}

#Home{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Home video{
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#Home .home-content{
    position: relative;
    z-index: 1;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

#Home .home-content h1{
    margin: 0;
    padding: 0;
    font-size: 4.5em;
    color: #CCCECD;
    text-align: center;
}

#Home .home-content h4{
    margin: 0;
    padding: 0;
    font-size: 17px;
    color: #CCCECD;
}

.arrow{
    border: solid #CCCECD;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    height: 20px;
    width: 20px;
    bottom: 0;
    margin: 10px; 
}

.home-content a:hover > .arrow {
    border: solid #D3849A; 
    border-width: 0 3px 3px 0;
}


#Home .home-content .sign a{
    color: #CCCECD;
    text-decoration: none;
    padding: 5px;
    border: 3px solid #CCCECD;
}

.sign{
    padding: 18px;
}

#Home .home-content .sign a:hover{
    background-color: #D3849A;
    border: 3px solid #D3849A;
}

nav{
    width: 100%;
    height: 50px;
    background-color: #07192F;
    padding: 0;

}


nav ul{
    margin: 0;
    padding: 0;
    
}

nav ul li{
    list-style: none;
    float: left;
    line-height: 50px;
    
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 0 20px;
    display: block;
}

nav ul li a:hover{
    color: #D3849A;
    text-decoration: none;
    font-size: 16px;
    padding: 0 20px;
    display: block;
    
}
 
.sub-headline{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color:  #07192F;
    text-align: center; 
}

.sub-headline.animated{
    animation-name: slide-from-right;
    animation-duration: 1s;
}

#About .about-img img{
    width: 80%;
    object-fit: contain;
    margin: auto 4%;
}

.about-img.animated img{
    animation-name: slide-from-left;
    animation-duration: 1s;
}

.about-content.animated{
    animation-name: slide-from-right;
    animation-duration: 1s;
}

.blue-text {
    color: #07192F;
    text-decoration: underline;
    font-weight: 900;
    font-size: 22px;
}

.important-content{
    font-style: oblique;
}

.two-column-wrapper{
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 1000px){
    .two-column-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.same-content p{
    margin: 0;
}

.two-column-wrapper .about-content p{
    font-size: 20px;
    color: #07192F;
}


/*Project*/
.project-wrapper{
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr))
}

@media only screen and (min-width: 1100px){
    .project-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr
    }
}

#Projects.animated .sub-headline{
    transition-delay: 0.5s;
    animation-name: slide-from-right;
    animation-duration: 1s;
}

.project-wrapper.animated{
    animation-name: slide-up;
    animation-duration: 2s;
}

.eachProject{
    position: relative;
}

.eachProject-img{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 350px;
    width: 100%;
}

.eachProject-header{
    position: absolute;
    top: 0%;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: rgba(80, 81, 80, 0.3);
}

.eachProject-header h2{
    color: white;
}

.eachProject-view-project{
    position: absolute;
    top: 82%;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.eachProject-language-wraper{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
}

.eachProject-language{
    color: transparent;
    text-align: center;
    margin: auto;
    font-weight: 900;
    font-size: 1.5em;
}

.button{
    border: 2px solid transparent;
    color: transparent;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*hover over picture*/
.eachProject:hover > .eachProject-img{
    filter: brightness(25%)
}

.eachProject:hover .eachProject-language{
    color: white;
    animation-name: slide-down;
    animation-duration: 0.5s;
}

.eachProject:hover .button{
    border: 2px solid #528214;
    color: white;

    animation-name: slide-up;
    animation-duration: 0.5s;
}
.eachProject .button:hover{
    background-color: #528214;
}

/*animation*/
@keyframes slide-up{
    from{
        transform: translateY(40%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-down{
    from{
        transform: translateY(-40%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-from-right{
    from{
        transform: translateX(20%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-from-left{
    from{
        transform: translateX(-40%);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/*Contact*/
.emptyspace{
    height: 50px;
    position: relative;
}

.footwrapper{
    width: 100%;
    background-color: #07192F;
    position: relative;
    border-top: 5px solid white;
    justify-content: center;
    align-items: center;
}



.footcontainer-top{
    position: relative;
    text-align: center;
}

.logowrapper{
    display: inline-block;
    height: 100px;
    width: 10%;
    text-align: center;
    padding-top: 50px;
    margin-left: 0px;
}

.logo img{
    display: inline-block;
    width: 35px;
    
    
}

.logowrapper:hover > .logo img{
    animation-name: slide-up2;
    animation-duration: 0.5s;
}

.copyright-text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    background-color: #07192F;
}

@keyframes slide-up2{
    0%{
        transform: translate(0);
    }
    20%,
    40%,
    60%,
    80%{
        transform: translate(.2em);
    }
    10%{
        transform: translate(0);
    }
    30%,
    50%,
    70%,
    100%{
        transform: translate(0);
    }
}

/*macOS.html*/
.take-full-height{
    height: 100%;
    margin-bottom: -150px;
}

.header{
    background-color: #07192F;
    width: 100%;
    text-align: center;
    height: 80px;
    align-items: center;
    position: absolute;
    top: 0;
    border-bottom: 5px solid #D3849A;
}

.header-content{
    color: #CCCECD;
}

.content-description .sub-headline{
    font-size: 15px;
}

.content-wrapper{
    position: relative;
    top: 80px;
    height: 80%;
}

.initial-description{
    padding: 2% 10%;
}

.initial-description p{
    text-align: center;
}

.content-box{
    display: grid;
    grid-template-columns: 1fr;
}

@media only screen and (min-width: 1400px){
    .content-box{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.content-image video{
    width: 90%;
    object-fit: contain;
    margin: auto 2%;
    max-width: 100%;
    max-height: 100%;
    text-align: center;
}

.content-description{
    top: 0;
    margin: auto 5%;
    margin-top: 0;
    padding-top: 0;
    max-width: 100%;
    max-height: 100%;

}

.footer{
    border: 5px solid #D3849A;
    background-color: #07192F;
    display: grid;
    grid-template: 1fr;
    padding: 50px 0;
    left: 0;
    top: 30%;
    position: fixed;
    justify-content: center;
    align-items: center;
}  



@media only screen and (min-width: 1400px){
    .footer{
        all: inherit;
        border-top: 5px solid #D3849A;
        bottom: 0;
        background-color: #07192F;
        text-align: center;
        padding: 50px 0;
        width: 100%;
        height: 0px;
        position: relative;
        justify-content: center;
        align-items: center;
    } 
}

.footer .sign a:hover{
    background-color: #D3849A;
    border: 3px solid #D3849A;
}

.footer .extra-button{
    display: inline;  

}

.footer .extra-button a{
    color: #CCCECD;
    text-decoration: none;
    border: 3px solid #CCCECD;
    padding: 5px;
}





